{% extends 'base.html' %}
{% block title %}
  Market Page
{%endblock%}

{% block content %}
<div class="container">
  <div class="table-responsive  mt-5">
      <table class="table">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Price</th>
                    <th scope="col" ">Options</th>
                </tr>
            </thead>

           <tbody class="text-center">
                {% for item in items %}
                  <tr>
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.barcode}}</td>
                      <td>{{item.price}}</td>
                      <td>
                        <button type="button" class="btn btn-outline-info">More Info</button>
                        <button type="button" class="btn btn-outline-success m-1">Purchase</button>
                      </td>
                  </tr>
                {% endfor %}
            </tbody>
      </table>
  </div>
</div>
{% endblock %}