{% extends 'base.html' %}
{% block title %}
  Market Page
{%endblock%}

{% block content %}
<div class="container">
  <div class="table-responsive  mt-5">
      <table class="table">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Box Office</th>
                    <th scope="col">Director</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>

           <tbody class="text-center">
                {% for movie in movies %}
                  <tr>
                      <th scope="row">{{movie.id}}</th>
                      <td>{{movie.name}}</td>
                      <td>${{movie.box_office}}</td>
                      <td>{{movie.director}}</td>
                      <td>
                        
                        <button type="button" class="btn btn-outline-info">More Info</button>
                        <button type="button" class="btn btn-outline-success m-1">Rent movie</button>
                        
                      </td>
                  </tr>
                {% endfor %}
            </tbody>
      </table>
  </div>
</div>
{% endblock %}